<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 d-flex justify-content-center mt-2 flex-column">
      <h1 class="my-3">Engima Assignment</h1>
      <div class="border border-2">
        <div class="row g-0 border-bottom">
          <header class="navbar navbar-expand-lg navbar-light bg-light py-2">
            <div class="col-12 col-md-8 col-lg-9 col-xl-10">
              <div class="row">
                <div
                  class="col-12 col-sm-12 col-md-12 col-lg-12 position-relative adjust_div"
                >
                  <div class="d-flex">
                    <button class="btn border-0">
                      <i class="fa-solid fa-list-check"></i>
                    </button>
                    <h5>Tasks</h5>
                  </div>
                  <small class="text-secondary ms-5 ps-1 all_task"
                    >All Tasks</small
                  >
                </div>
              </div>
              <div class="row position-relative">
                <small class="p-0 mt-1 records text-secondary">4 Records</small>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-2 pe-2">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="btn-group w-100">
                    <button
                      type="button"
                      class="btn btn-primary add-new-task"
                      (click)="addNewTask()"
                    >
                      Add New Task
                    </button>
                    <button type="button" class="btn btn-primary">
                      Refresh
                    </button>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                  <div class="form-group has-search position-relative">
                    <span
                      class="fa fa-search form-control-feedback position-absolute end-0 search-icon"
                    ></span>
                    <!--  <i class="material-icons-outlined filter-icon">search</i> -->
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                      [formControl]="searchTask"
                    />
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="row">
          <div class="col-2 col-sm-12 col-md-12 col-lg-12">
            <app-task-list
              [taskList]="taskList"
              (taskEmitter)="getTaskById($event)"
            ></app-task-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addTaskTemp>
  <app-task-form
    [taskDetailsObservable$]="taskEmitterObservable"
  ></app-task-form>
</ng-template>
